<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="pizza" routerLinkActive="active" class="nav-link" >Pizza List</a>
        </li>
       <li class = "nav-item">
            <a routerLink="add" routerLinkActive="active" class="nav-link" >Add Pizza</a>
        </li> 
    </ul>
</nav>
<div class="container"><router-outlet></router-outlet></div>-->
<head>
    <title>Navigation bar DEMO</title>
    
</head>

<body >
    <header>
       <img src="/assets/logo.jpg">
        <nav>
            <ul>
                <li><a routerLink="pizza" routerLinkActive="active" class="nav-link" >Pizza List</a></li>
                <li> <a routerLink="add" routerLinkActive="active" class="nav-link" >Add Pizza</a></li>
            </ul>
        </nav>
    </header>
   
</body>

<router-outlet></router-outlet>


