.insert
{
    position:absolute;
    top:40%;
    left:40%;
    transform:translate(-40%, -40%);

}

.insert label{
  
    font-weight: bold;
}
.highlighted {
    border: thick dotted red;
  }