

.insert
{
    position:absolute;
    top:40%;
    left:40%;
    transform:translate(-40%, -40%);

}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #544271;
  color: white;
}